# Normalize line endings for all files that Git considers text files.
* text=auto eol=lf

# Only include the addons folder when downloading from the Asset Library.
/game/**        export-ignore
/game/addons    !export-ignore
/game/addons/** !export-ignore
